a {
    display: block;
    width: 100px;
    height: 100px;
}

span {
    display: none;
}

#forward {
    position: absolute;
    top: 20px;
    left: 140px;
    background-image: url('images/playup.png');
}

#back {
    position: absolute;
    top: 260px;
    left: 140px;
    background-image: url('images/playdown.png');
}

#left {
    position: absolute;
    top: 140px;
    left: 20px;
    background-image: url('images/playleft.png');
}

#right {
    position: absolute;
    top: 140px;
    left: 260px;
    background-image: url('images/playright.png');
}

#stop {
    position: absolute;
    top: 140px;
    left: 140px;
    background-image: url('images/pause.png');
}

#speed {
    position: absolute;
    top: 380px;
    width: 100%;
}
